{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}
<div class="col-4 col-6-medium col-12-small">
    <section class="box">
        <div class="">
            {% if self.imagex %}
                <a href="{{ self.link|default:'#' }}" class="image featured">
                    <img src= "{{ self.imagex.file.url }}" alt="{{ self.title }}">
                </a>
            {% else %}
                <p>No image available</p>  <!-- Optional message for missing image -->
            {% endif %}
        </div>
        <header>
            <h3>{{ self.title }}</h3>
        </header>
        <ul>
            {% for line in self.description.splitlines %}
                <li>{{ line }}</li>
            {% endfor %}
        </ul>
    </section>
</div>