{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}
    <div class=" col card-item mb-4 {% if page.cards|length != 1 %} col-4 col-6-medium col-12-small {% endif %}" data-aos="fade-up" style="padding: 2em 0 0 2em; background: transparent;">
        <section class="box" style="background: transparent;">
            <div class=" {% if page.cards|length != 1 %} image-container {% endif %}">
                {% if self.imagex %}
                <a href="{{ self.link|default:'#' }}" class="image featured">
                    <img src= "{{ self.imagex.file.url }}" >
                </a>
                {% else %}
                <p>No image available</p>  <!-- Optional message for missing image -->
                {% endif %}
            </div>
            <header>
                <!-- <h2 style="color: {{ self.font_color }};">{{ self.title|safe }}</h2> -->
                <div style="color: {{ self.font_color }};">
                    {% autoescape off %}
                    {{ self.title|safe }}
                    {% endautoescape %}
                </div>
            </header>
            <p>{{ self.description|richtext  }}</p>
        </section>
    </div>