{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}
<div class="col card-item mb-4" data-aos="fade-up">
    <section class="box">
        <div class="">
            {% if self.imagex %}
                <a href="{{ self.link|default:'#' }}" class="image featured">
                    <img src= "{{ self.imagex.file.url }}" >
                </a>
            {% else %}
                <p>No image available</p>  <!-- Optional message for missing image -->
            {% endif %}
        </div>
        <header>
            <h3>{{ self.title }}</h3>
        </header>
        <p>{{ self.description|richtext  }}</p>
    </section>
</div>